html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #e0e0e0;
}

header,
footer {
    background-color: rosybrown;
}

.logo {
    height: 60px;
    width: 60px;
}

.socialIcon {
    height: 20px;
    width: 22px;
}